OTEL_BIND_HOST=127.0.0.1
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318
GRAFANA_PORT=13000
LOKI_PORT=3100
PROMETHEUS_PORT=9090
TEMPO_PORT=3200
JAEGER_PORT=16686
OTEL_COLLECTOR_METRICS_PORT=8888
GF_SECURITY_ALLOW_EMBEDDING=true
GF_AUTH_ANONYMOUS_ENABLED=true
GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
